@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* common css */
.container{
    max-width: 1400px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
/* Hero section start */
.hero-section{
    background-image: url("../img/home_banner.webp");
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.menu-bar {
	display: flex;
	justify-content: space-around;
	gap: 22px;
}